/*-----------------------------------*/
/* 태그 기본 설정                      */
/*-----------------------------------*/
body, ul {	margin: 0;	padding: 0;}
li { list-style: none; }
a {    color: #666;    text-decoration: none;}

/*-----------------------------------*/
/* 탭                                */
/*-----------------------------------*/
.tab_title li {	float: left;	position: relative;    margin-right: 3px;    margin-top: 4px;    background: #ece6d9;}
.tab_title li a {    display: block;    padding: 0 22px;    height: 50px;
    line-height: 48px;    font-size: 1vw;    font-style: normal;	color: #0d3153;
    text-align: center;		text-decoration: none;}
.tab_title li a.selected {background-color: white;}
.tab_panel {    clear: both;}
.tab_panel li {    padding:0;}
.tab_image img {    width: 100%;    padding:0;}
/***************************************************************************************/
.tab_title1 li {	float: left;	position: relative;    margin-right: 3px;    margin-top: 4px;    background: #ece6d9;}
.tab_title1 li a {    display: block;    padding: 0 22px;    height: 50px;
    line-height: 48px;    font-size: 1vw;    font-style: normal;	color: #0d3153;
    text-align: center;		text-decoration: none;}
.tab_title1 li a.selected {background-color: white;}
.tab_panel1 {    clear: both;}
.tab_panel1 li {    padding:0;}
.tab_image1 img {    width: 100%;    padding:0;}
